body {
  font-family: 'Segoe UI', sans-serif;
  background: rgba(173, 216, 230, 0.684);
  margin: 0;
  padding: 20px;
}

header {
  background-color: #002244;
  color: white;
  padding: 20px;
  text-align: center;
}

.portal section {
  background: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

button {
  font-weight: bold;
  font-size: medium;
}

.perfil button {
  background: rgba(26, 172, 220, 0.684);
  width: 120px;
  height: 40px;
  border-radius: 8px;
}